* {
    box-sizing: border-box;
}

body {
    color: #dddd;
    background-color: #112233;
    font-family: 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

#mainHeader {
    display: grid;
    height: 400px;
    align-items: center;
}

#mainHeader h1 {
    margin: 0;
}

.captionHeader {
    justify-items: center;
}

.captionHeader img {
    width:auto;
}


.bannerHeader {
    position: relative;
}

.bannerHeader img {
    height:100%;
    width:100%;
    object-fit: cover;
}

.bannerHeader h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: firebrick;
    -webkit-text-stroke: 1px white;
}

header img {
    height: 100%;
    width: 100%;
}

nav {
    align-self: center;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    vertical-align: center;
}

nav a {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #dddd;
    padding: 18px 18px;
    font-size: 17px;
    margin-right: 1px;
}

a:visited, a:hover {
    text-decoration: none;
    color: #dddd;
}

nav a:hover {
    background-color: #dddd;
    color: #112233;
}

aside {
    float: right;
    width: 30%;
    background: cornflowerblue;
    padding: 20px;
}

aside h1, h2, ul, ol {
    text-align: center;
    align-self: center;
    list-style-position: inside;
}

form ul{
    list-style-type: none;
    text-align: left;
    max-lines: 10;
}

#submitButton {
    text-align: center;
    align-self: center;
list-style-type: none;
}

form button{
    align-self: center;
}

#messageBox{
    height: 300px;
    width:100%;
}

section {
    float: left;
    width: 70%;
    padding: 20px;
}

section ul{
    list-style-type: none;
}

section h1, h2, td, th, ul, p{
    text-align: center;
}

section table{
    margin-left: auto;;
    margin-right: auto;;
}

.main::after {
    content: "";
    display: table;
    clear: both;
}